.photo {
  width: 60vw;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  object-fit: cover;
  border-width: 5px;
  border: 5px solid #000000;
}

.redo-button {
  border-radius: 50%;
  width: 73px;
  height: 73px;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #bdb199;
}
