.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.nav-button {
  background-color: #bdb199;
  color: #48351c;
  font-family: "Tiro Devanagari Hindi", sans-serif;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 400;
}
